article>div{
    display: inline-block;
    padding-bottom: 20px;
    margin: 20px;
    width: 90%;
}
table{
    color: white;
    width: 100%;
    border-collapse: collapse;
}

td, th{
    border: 1px white solid;
    text-align: center;
}

tbody tr:nth-child(odd){
    background-color: gray;
}

caption{
    text-align: left;
    font-size: 1.9em;
    font-weight: bold;
}